<div class="row">
  <h1>Hard and soft skills</h1>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="80"
    [radius]="100"
    [imageSrc]="'../assets/HTML5.png'"
    [showImage]="true"
    [imageHeight]="70"
    [imageWidth]="70"
    [showUnits]="false"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#e17055'"
    [innerStrokeColor]="'#fab1a0'"
    [animation]="true"
    [animationDuration]="700"
></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="80"
    [radius]="100"
    [imageSrc]="'../assets/ccs1.png'"
    [showImage]="true"
    [imageHeight]="70"
    [imageWidth]="60"
    [showUnits]="false"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#e17055'"
    [innerStrokeColor]="'#fab1a0'"
    [animation]="true"
    [animationDuration]="700"
></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="80"
    [radius]="100"
    [imageSrc]="'../assets/js.png'"
    [showImage]="true"
    [imageHeight]="70"
    [imageWidth]="120"
    [showUnits]="false"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#e17055'"
    [innerStrokeColor]="'#fab1a0'"
    [animation]="true"
    [animationDuration]="700"
></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="80"
    [radius]="100"
    [imageSrc]="'../assets/githubgraf.png'"
    [showImage]="true"
    [imageHeight]="60"
    [imageWidth]="90"
    [showUnits]="false"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#e17055'"
    [innerStrokeColor]="'#fab1a0'"
    [animation]="true"
    [animationDuration]="700"
></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="80"
    [radius]="100"
    [imageSrc]="'../assets/py.png'"
    [showImage]="true"
    [imageHeight]="80"
    [imageWidth]="120"
    [showUnits]="false"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#e17055'"
    [innerStrokeColor]="'#fab1a0'"
    [animation]="true"
    [animationDuration]="700"
></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="80"
    [radius]="100"
    [subtitle]="'English'"
    [showSubtitle]="true"
    [imageSrc]="'../assets/idioma4.png'"
    [showImage]="true"
    [imageHeight]="60"
    [imageWidth]="60"
    [showUnits]="false"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#e17055'"
    [innerStrokeColor]="'#fab1a0'"
    [animation]="true"
    [animationDuration]="700"
></circle-progress>
  </div>



</div>
